<p>【<%= @tag.text %>】　のタグがついている温泉宿一覧</p>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>


<div class="top-contents">
  <div class="top-contents__in">
    <div class="top-contents__in__num">
      現在<%= @posts_num.length %>件の湯処を紹介しています。
    </div>

    <div class="top-contents__in__main">
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%= paginate(@posts) %>
</div>
