<div class= "sign">
<h2>ログイン画面</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <em>メールアドレス</em><br /><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: "test@test" %>
  </div>

  <div class="field">
    <em>パスワード</em><br /><br />
    <%= f.password_field :password, autocomplete: "current-password", value: "testtest" %>
  </div>


  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>