<div class="contents">
  <a class="contents__detail" href="/posts/<%= post.id %>%">
    <%= image_tag post.image.to_s %>
    <div class="contents__detail--name">温泉名：<%= post.name %></div>
  </a>
  <div class="contents__location">場所：<%= post.location %></div>
  <a class="contents__user" href="/users/<%= post.user.id %>">
    <div>投稿者：<%= post.user.name %></div>
  </a>
  
  <%= fa_icon("tag", text: "#{post.tags&.first&.text}") if post.tags&.first&.text %>

  <div class="contents__change">
    <ul class="contents__change__list">
      <% if user_signed_in? && current_user.id == post.user_id %>
        <li>
          <%= link_to "/posts/#{post.id}/edit", method: :get, class: 'contents-btn' do %>
            <i class="fa fa-caret-right"></i>
            <span>編集</span>
          <% end %>
        </li>
        <li>
          <%= link_to "/posts/#{post.id}", method: :delete, data: {confirm: "温泉名:#{post.name}を削除しますか？"}, class: 'contents-btn' do %>
            <i class="fa fa-caret-right"></i>
            <span>削除</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


