<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "温泉を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="top-contents">
  <div class="top-contents__in">
    <div class="top-contents__in__num">
      現在<%= @posts_num.length %>件の湯処を紹介しています。
    </div>
    <div class="top-contents__in__main">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%= paginate(@posts) %>
</div>
