<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "温泉を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="top-contents">
  <div class="top-contents__in">
    <div class="top-contents__in__num">
      現在<%= @posts_num.length %>件の湯処を紹介しています。
    </div>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyAJGdrtN-DDmBXydMAvXFBUf0ikgtpYsuQ&language=ja"></script>

<style>
html { height: 100% }
body { height: 100% }
#map { height: 40%; width: 50%}
</style>
</head>

<div id="map"></div>

<script>
var MyLatLng = new google.maps.LatLng(35.6811673, 139.7670516);
var Options = {
 zoom: 15,      //地図の縮尺値
 center: MyLatLng,    //地図の中心座標
 mapTypeId: 'roadmap'   //地図の種類
};
var map = new google.maps.Map(document.getElementById('map'), Options);
</script>




    <div class="top-contents__in__main">
      <% @posts.each do |post| %>
        <%= render partial: "post", locals: { post: post } %>
      <% end %>
    </div>
  </div>
  <%= paginate(@posts) %>
</div>
