<div class ="contents row">
  <%= image_tag @post.image.to_s %>
  <div class="contents__detail--name">温泉名：<%= @post.name %></div>
  <div class="contents__location">場所：<%= @post.location %></div>
  <a class="contents__user" href="/users/<%= @post.user.id %>">
    <div>投稿者：<%= @post.user.name %></div>
  </a>

    <div class="tags">
      <h4>＜タグ一覧＞</h4>
      <% if @tags %>
        <% @tags.each do |tag| %>
          <p>
            <%= tag.text %>
          </p>
        <% end %>
      <% end %>
    </div>



  <div class="container">
    <% if current_user %>
      <%= form_with(model: [@post, @kuchikomi], local: true, id: "new_kuchikomi") do |form| %>
        <%= form.text_area :text, placeholder: "投稿する", rows: "2", class: "textbox" %>
        <%= form.submit "SEND", class: "form__submit" %>
      <% end %>
    <% else %>
      <strong><p>※※※ 口コミの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="kuchikomis">
      <h4>＜口コミ一覧＞</h4>
      <% if @kuchikomis %>
        <% @kuchikomis.each do |kuchikomi| %>
          <p>
            <strong><%= link_to kuchikomi.user.name, "/users/#{kuchikomi.user_id}" %>：</strong>
            <%= kuchikomi.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>